.title {
  font-size: 120px;
  font-weight: bold;
  opacity: 0.2;
}

@media (max-width: 900px) {
  .title {
    font-size: 64px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 38px;
  }
}
