.ourOffers {
  margin: 60px auto 0;
  max-width: 1260px;
  padding: 0 30px;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 60px;
  position: relative;
}

.favorite {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute;

  font-size: 100px;
  font-weight: bold;
  opacity: 0.15;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

  left: -160px;
  top: 15%;
  bottom: 15%;
}

.img {
  position: absolute;
  z-index: 2;
  right: -220px;
}

@media (max-width: 1670px) {
  .favorite,
  .img {
    display: none;
  }
}

@media (max-width: 1240px) {
  .content {
    overflow-x: auto;
  }
}
