RewriteEngine On

RewriteCond %{REQUEST_URI} ^/api/
RewriteRule ^api/(.*)$ backend/api/index.php/$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ frontend/dist/index.html [L]
