.container {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registrationForm {
    background-color: #151515;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}

.registrationForm h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 48px;
}

.inputField {
    all: unset;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #02e502;
    border-radius: 4px;
    box-sizing: border-box;
}

a button {
    margin: 0 auto;
    display: block;
}