.container {
    max-width: 1360px;
    padding: 0 30px;
    margin: 0 auto;
}

.infoBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 34px;
    font-weight: 400;
}

.text {
    font-weight: 400;
    font-size: 18px;
    margin-top: 16px;
}

.info {
    max-width: 540px;
}

.price {
    font-size: 30px;
    margin: 62px 0 36px;
}

@media (max-width: 1210px) {
    .infoBlock {
        display: grid;
        justify-content: center;
    }

    .title {
        margin-top: 50px;
    }

    .info {
        display: block;
        margin: 0 auto;
    }

    .title {
        font-size: 62px;
        font-weight: 800;
        text-align: center;
        margin-top: 12px;
    }

    .text {
        margin-top: 6px;
        text-align: center;
    }

    .price {
        text-align: center;
    }

    .button {
        display: flex;
        justify-content: center;
    }
}