.cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}

.imgBlock {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 650px;
}

.img {
  padding: 4px;
  border: 1px solid #464646;
}

.img:first-of-type {
  margin-bottom: 20px;
}

.title {
  font-weight: 400;
  font-size: 34px;
}

.article {
  font-weight: 400;
  font-size: 18px;
  margin-top: 20px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    display: flex;
    gap: 12px;
    align-items: center;
}