.info {
  background-color: #1e1d1d;
  width: 380px;
  min-height: 260px;

  position: relative;

  display: flex;
  align-items: center;
}

.content {
  padding: 30px;
}

.info__img {
  float: left;
  margin-right: 10px;
}

.info__title {
  font-size: 22px;
  margin-top: 6px;
  font-weight: 400;
}

.info__text {
  font-size: 18px;
  margin-top: 18px;
  font-weight: 300;
  line-height: 172%;
}

.info:nth-child(3) {
  z-index: 2;
}

// @media (max-width: 920px) {
//   .info {
//     padding: 30px;
//     width: 340px;
//     height: 250px;
//   }

//   .info__title {
//     font-size: 20px;
//   }

//   .info__text {
//     font-size: 16px;
//   }
// }
