.new {
  width: 420px;
  height: 600px;
  margin: 0 auto;
  text-align: justify;
}

.img {
  margin: 0 auto;
  display: block;
}

.title {
  margin-top: 50px;
  font-size: 22px;
  font-weight: 400;
}

.text {
  font-weight: 300;
  font-size: 18px;
  line-height: 172%;
  margin: 30px 0;
}

.link {
  color: #02e502;
  font-weight: 300;
  font-size: 16px;

  border-bottom: 1px solid #02e502;
  padding-bottom: 12px;
}
