.post {
  max-width: 1360px;
  padding: 0 30px;
  margin: 0 auto;
}

.text {
  font-weight: 300;
  font-size: 18px;
  line-height: 172%;
  max-width: 1000px;
  margin-top: 30px;
}

.content {
  margin-top: 70px;
  background-color: #1e1d1d;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.img {

}

.textBlock {
  max-width: 620px;
}

.description {
  font-weight: 300;
  font-size: 18px;
  line-height: 172%;

  width: 100%;
}

.icon {
  margin-right: 20px;
}

.enemyBlock {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.list {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 480px;
}

.item {
  display: flex;
  align-items: center;
  align-items: center;
  margin-right: 24px;
  margin: 6px 24px 6px 0;
  width: 100px;
}

.iconCheck {
  margin-right: 12px;
}

.postText {
  font-weight: 300;
  font-size: 18px;
}