.listAlt {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 70px;
    justify-content: space-between;
}

.itemAlt {
    display: flex;
    width: 200px;
}

.icon {
    margin-right: 10px;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 222%;
}

@media (max-width: 1650px) {
    .listAlt {
        max-width: 600px;
        gap: 0;
    }

    .itemAlt {
        display: flex;
        width: 180px;
    }

    .icon {
        margin-right: 10px;
    }

    .text {
        font-weight: 400;
        font-size: 18px;
        line-height: 222%;
    }
}

@media (max-width: 1300px) {
    .listAlt {
        max-width: 500px;
        margin-top: 40px;
    }

    .itemAlt {
        width: 160px;
    }

    .text {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .listAlt {
        max-width: 400px;
        gap: 8px;
        justify-content: center;
    }

    .itemAlt {
        width: 120px;
    }

    .text {
        font-size: 14px;
    }
}