.block {
    width: 420px;
    background-color: #1E1D1D;
    padding: 30px;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #02E502;
    padding-bottom: 20px;
}

.title {
    font-size: 22px;
}

.image {
    margin-right: 16px;
}

.item {
    background-image: url('/IconsCheck.svg');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 32px;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px;
}

.list {
    margin-top: 40px;
}