.hero {
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1920px;
  height: 650px;
  margin: 0 auto;
  display: block;
}

.container {
  max-width: 1360px;
  padding: 0 30px;
  margin: 0 280px;
  font-weight: 400;
  position: relative;
}

.hero div {
  padding-top: 24px;
}


.title {
  font-weight: 400;
  font-size: 72px;
  max-width: 700px;
  padding-top: 60px;
}

.text {
  font-weight: 400;
  font-size: 24px;
  line-height: 167%;
  margin-top: 40px;
  max-width: 560px;
}

.imageAdapt {
  display: none;
}

@media (max-width: 1850px) {
  .hero {
    height: 625px;
  }

  .title {
    font-size: 62px;
    padding-top: 60px;
  }
}

@media (max-width: 1740px) {
  .hero {
    height: 590px;
  }

  .container {
    margin: 0 230px;
  }

  .title {
    font-size: 48px;
    max-width: 580px;
    padding-top: 60px;
  }
}

@media (max-width: 1570px) {
  .hero {
    height: 580px;
  }

  .container {
    margin: 0 180px;
  }

  .title {
    font-size: 42px;
    max-width: 520px;
  }
}

@media (max-width: 1420px) {
  .container {
    margin: 0 170px;
  }

  .title {
    font-size: 38px;
    max-width: 520px;
  }

  .text {
    font-size: 20px;
    max-width: 460px;
  }
}

@media (max-width: 1260px) {
  .hero div {
    padding-top: 0;
  }

  .container {
    all: unset;
    display: grid;
    justify-content: center;
  }

  .imageAdapt {
    display: block;
    margin: 0 auto;
    width: 800px;
    height: 500px;
  }

  .hero {
    all: unset;
    max-width: 1920px;
  }

  .title {
    text-align: center;
    margin: 0 auto;
  }

  .text {
    text-align: center;
  }
}

@media (max-width: 950px) {
  .imageAdapt {
    width: 640px;
    height: 460px;
  }
}

@media (max-width: 650px) {
  .imageAdapt {
    width: 520px;
    height: 400px;
  }
}

@media (max-width: 520px) {
  .imageAdapt {
    width: 420px;
    height: 360px;
  }
}

@media (max-width: 420px) {
  .title {
    font-size: 26px;
    max-width: 100%;
    text-align: center;
    padding: 0;
    margin-top: 24px;
  }

  .imageAdapt {
    width: 100%;
    height: 260px;
  }
}