.hero {
  background-image: url("/Background/bgBackgroundhero.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 650px;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1360px;
  padding: 0 30px;
  margin: 0 280px;
  font-weight: 400;
  position: relative;
}

.hero div {
  padding-top: 24px;
}


.title {
  font-weight: 400;
  font-size: 72px;
  max-width: 700px;
  padding-top: 60px;
}

.text {
  font-weight: 400;
  font-size: 24px;
  line-height: 167%;
  margin-top: 40px;
  max-width: 560px;
}

@media (max-width: 1850px) {
  .hero {
    height: 600px;
  }

  .title {
    font-size: 62px;
    padding-top: 60px;
  }
}

@media (max-width: 1740px) {
  .hero {
    height: 550px;
  }

  .container {
    margin: 0 230px;
  }

  .title {
    font-size: 48px;
    max-width: 580px;
    padding-top: 60px;
  }
}

@media (max-width: 1570px) {
  .hero {
    height: 500px;
  }

  .container {
    margin: 0 180px;
  }

  .title {
    font-size: 42px;
    max-width: 520px;
  }
}

@media (max-width: 1420px) {
  .container {
    margin: 0 170px;
  }

  .title {
    font-size: 38px;
    max-width: 520px;
  }
}

@media (max-width: 1300px) {
  .container {
    margin: 0 170px;
  }

  .title {
    font-size: 32px;
    max-width: 460px;
  }
}

@media (max-width: 1200px) {
  .container {
    margin: 0 140px;
  }

  .title {
    font-size: 32px;
    max-width: 420px;
    padding-top: 20px;
  }
}

@media (max-width: 1100px) {
  .container {
    margin: 0 80px;
  }

  .title {
    font-size: 32px;
    max-width: 420px;
    padding-top: 20px;
  }
}

// .listAlt {
//   max-width: 700px;
//   display: flex;
//   flex-wrap: wrap;
//   gap: 40px;
//   margin-top: 70px;
//   justify-content: space-between;
// }

// .itemAlt {
//   display: flex;
//   width: 200px;
// }

// .icon {
//   margin-right: 10px;
// }

// .text {
//   font-weight: 400;
//   font-size: 18px;
//   line-height: 222%;
// }