.news {
    margin: 60px auto 0;
    max-width: 1360px;
    padding: 0 30px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}