.imageCatalog {
    max-width: 660px;
}

.heroImage {
    margin: 0 auto;
    border: 1px solid #464646;
}

.images {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 20px;
}

.image {
    cursor: pointer;
    border: 1px solid #464646;
}

@media (max-width: 640px) {
    .heroImage {
        width: 100%;
    }

    .image {
        width: 160px;
        height: 160px;
    }
}

@media (max-width: 550px) {
    .image {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 430px) {
    .heroImage {
        height: 260px;
    }

    .image {
        width: 80px;
        height: 80px;
    }
}