.container {
    background-color: #1e1d1d;
    color: #FFFFFF;
    padding: 20px;
    min-height: 80vh;
}

.newsDetails {
    max-width: 800px;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.title {
    font-size: 36px;
    margin-bottom: 20px;
}

.imageContainer {
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.text {
    font-size: 18px;
    line-height: 1.6;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}