.description {
    max-width: 1360px;
    padding: 0 30px;
    margin: 110px auto 0;
}

.title {
    font-size: 48px;
    text-align: center;
}

.text {
    font-weight: 300;
    font-size: 18px;
    line-height: 172%;
    text-align: center;
    margin-top: 20px;
}

.image {
    margin: 30px auto 0;
}