.description {
    max-width: 1360px;
    padding: 0 30px;
    margin: 110px auto 0;
}

.title {
    font-size: 48px;
    text-align: center;
}

.text {
    font-weight: 300;
    font-size: 18px;
    line-height: 172%;
    text-align: center;
    margin-top: 20px;
}

.image {
    margin: 30px auto 0;
<<<<<<< HEAD
}
=======
    display: block;
}

@media (max-width: 1350px) {
    .image {
       width: 100%;
    }
}

@media (max-width: 800px) {
    .image {
       height: 420px;
    }
}

@media (max-width: 550px) {
    .image {
       height: 320px;
    }
}

@media (max-width: 420px) {
    .image {
       height: 280px;
    }
}
>>>>>>> master
