.textBlock {
  max-width: 1360px;
  padding: 0 30px;
  margin: 0 auto;
}

.text {
  font-weight: 300;
  font-size: 18px;
  line-height: 172%;
  margin-top: 60px;
  transition: opacity 0.3s ease-in-out;
}

.img {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.img.rotated {
  transform: rotate(180deg);
}

.lineBlock {
  margin-top: 20px;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.line {
  width: 200px;
  height: 2px;
  background-color: #8D8B8B;
}