.whereWeWork {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  z-index: -4;
}

.container {
  max-width: 1360px;
  padding: 0 30px;
  margin: 100px auto;
}

.list {
  margin-top: 70px;
  max-height: 470px;
  max-width: 600px;
  column-count: 2;
}

.item {
  font-weight: 300;
  font-size: 24px;
  line-height: 162%;
}

.image {
  position: absolute;
  top: -360px;
  right: 0;
}

@media (max-width: 1720px) {
  .image {
    position: static;
    display: block;
    margin: 0 auto;
  }

  .whereWeWork {
    display: grid;
  }

  .container {
    margin: 20px auto;
  }
}

@media (max-width: 1000px) {
  .image {
    width: 900px;
    height: 1000px;
  }
}

@media (max-width: 900px) {
  .image {
    width: 700px;
    height: 800px;
  }
}

@media (max-width: 700px) {
  .image {
    width: 400px;
    height: 500px;
  }
}

@media (max-width: 470px) {
  .list {
    max-height: none;
  }
}

@media (max-width: 400px) {
  .image {
    width: 320px;
    height: 400px;
  }
}