.block {
  background-color: #1e1d1d;
  width: 380px;
  padding: 30px;
  height: 240px;
}

.info__img {
  float: left;
  margin-right: 10px;
}

.info__title {
  font-size: 22px;
  margin-top: 6px;
  font-weight: 400;
}

.info__text {
  font-size: 18px;
  margin-top: 18px;
  font-weight: 300;
  line-height: 172%;
}

.block:nth-child(3) {
  z-index: 2;
}

@media (max-width: 920px) {
  .block {
    width: 100%;
    height: auto;
  }
}